---
const platform = "github";
const username = "AnderSalamanca";
const social = "x";
const twitteruser = "ander_salamanca";
---

<footer>
    <p>
        ¡Más información sobre mis proyectos en <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
        Y <a
        href={`https://www.${social}.com/${username}`}>{social}</a
        >!
    </p>
</footer>
